body {
    background-color: gray;
}

.carousel-item {
    width: 50px;
}

.navbar {
    background-color: white;
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #ffd700;
    font-size: large;
}

.padding {
    padding: 16px;
}

.rodape {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.capa {
    width: 10px;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}